<template>
  <div>
    <b-container>
      <b-row>
        <b-col>
          <b-form-input v-model="text" placeholder="Title"></b-form-input>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-textarea
            id="textarea"
            v-model="content"
            placeholder="Enter something..."
            rows="3"
            max-rows="6"
          ></b-form-textarea>
        </b-col>
      </b-row>
      <b-row>
        <b-col
          ><label for="start-date">วันเริ่มต้น</label>
          <b-form-datepicker
            id="start-date"
            v-model="startDate"
            class="mb-2"
            locale="TH"
          ></b-form-datepicker>
        </b-col>
        <b-col>
          <label for="start-time">เวลาเริ่มต้น</label>
          <b-form-timepicker
            id="start-time"
            v-model="startTime"
            locale="TH"
          ></b-form-timepicker>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <label for="end-date">วันสิ้นสุด</label>
          <b-form-datepicker
            id="end-date"
            v-model="endDate"
            class="mb-2"
            locale="TH"
          ></b-form-datepicker>
        </b-col>
        <b-col>
          <label for="end-time">เวลาสิ้นสุด</label>
          <b-form-timepicker
            id="end=time"
            v-model="endTime"
            locale="TH"
          ></b-form-timepicker>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-button @click="addEvent()">Add</b-button>
        </b-col>
      </b-row>
      <b-row>
        <b-col
          ><vue-cal
            :locale="TH"
            active-view="week"
            :events="events"
            @ready="ready($event)"
            @view-change="viewChange($event)"
        /></b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import TH from '../locale/TH'
import { getEvents } from '../services/event'
export default {
  data () {
    return {
      startDate: '',
      endDate: '',
      startTime: '',
      endTime: '',
      title: '',
      content: '',
      events: [
        {
          start: '2022-03-31 20:40',
          end: '2022-03-31 21:40',
          title: 'อัดวีดีโอ',
          content: 'นั่งกัดฟันทำวีดีโอ',
          class: 'vdo_time'
        }
      ]
    }
  },
  methods: {
    addEvent () {
      const event = {
        start: new Date(this.startDate + ' ' + this.startTime),
        end: new Date(this.endDate + ' ' + this.endTime),
        title: this.title,
        content: this.content,
        class: 'a'
      }
      console.log(event)
      this.events.push(event)
    },
    async ready (e) {
      console.log('ready', e)
      const res = await getEvents(e.startDate, e.endDate)
      console.log(res)
      const newEvents = res.data.map(function (event) {
        return {
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.title,
          content: event.content,
          class: event.class
        }
      })
      this.events = newEvents
    },
    async viewChange (e) {
      console.log('view-Chang', e)
      const res = await getEvents(e.startDate, e.endDate)
      console.log(res)
      const newEvents = res.data.map(function (event) {
        return {
          start: new Date(event.startDate),
          end: new Date(event.endDate),
          title: event.title,
          content: event.content,
          class: event.class
        }
      })
      this.events = newEvents
    }
  },
  computed: {
    TH () {
      return TH
    }
  },
  components: {
    VueCal
  }
}
</script>

<style>
.vuecal__now-line {
  color: #06c;
}
.vuecal__event.a {
  background-color: rgba(253, 166, 66, 0.9);
  border: 1px solid rgb(233, 136, 46);
  color: #fff;
}
.vuecal__event.b{background-color: rgba(35, 250, 107, 0.9);border: 1px solid rgb(233, 136, 46); color: #fff;}
.vuecal__event.c{background-color: rgba(255, 102, 102, 0.9);border: 1px solid rgb(235, 82, 82);color: #fff;}

</style>
